<div class="row">
    <h4 class="text-primary placeholderborder-4 pt-2 col-12">Grandchild component</h4>
    <p>There is a message - @MessageForGrandChild</p>
    <p>Lucky number - @LuckyNumberForGrandChild</p>
</div>

@code {
    [CascadingParameter(Name = "message")]
    public string MessageForGrandChild { get; set; }

    [CascadingParameter(Name = "luckynumber")]
    public string LuckyNumberForGrandChild { get; set; }

}
